{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["safari 13", "firefox >= 67", "chrome >= 74"]
      },
      "debug": true
    }]
  ],
  "plugins": [
    "babel-plugin-remove-template-literals-whitespace"
  ]
}
