.filters {
  display: block;
  position: absolute;
  width: 190px;
  left: 0;
  z-index: 1;
  background-color: var(--app-color);
  height: 100%;
  overflow-x: hidden;
  padding-right: 10px;

  h1 {
    text-align: center;
    font-size: 12pt;
    font-weight: 600;
    color: var(--black);
  }
  h2 {
    margin: 8px 0px 8px 0px;
    padding: 0;
    font-size: 10pt;
  }
  label {
    margin-left: 16px;
    vertical-align: bottom;
  }
  input[type=checkbox] {
    float: left;
    margin-right: 8px;
    margin-top: -2px;
  }
  h2.toggle::after {
    content: "▶";
    right: 0;
    text-align: right;
    float: right;
  }
  div.toggle {
    transition: max-height 1s ease, opacity 1s ease;
    display: block;
    visibility: visible;
    max-height: 600px;
    opacity: 1.0;
    overflow: hidden;
    &.collapse {
      max-height: 0px;
      opacity: 0;
    }
  }
  h2.toggle.collapse::after {
    content: "▲";
  }
  label:hover {
    background-color: var(--secondary-color-light);
  }
  h2.toggle:hover::after {
    color: var(--secondary-color-dark);
  }
}
